<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<title>Registro</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div class="register">
			<h1>Registro</h1>
			<div class="links">
				<a href="{{ url_for('login') }}">Login</a>
				<a href="{{ url_for('registro') }}" class="active">Registro</a>
			</div>
			<form action="{{ url_for('registro') }}" method="post" autocomplete="off">
				<label for="usuario">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="usuario" placeholder="Usuario" id="usuario" required>
				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Contraseña" id="password" required>
				<label for="email">
					<i class="fas fa-envelope"></i>
				</label>
				<input type="email" name="correo" placeholder="Correo" id="correo" required>
				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Registro">
			</form>
		</div>
	</body>
</html>